Parte 1: Generación del conjunto de datos

In [130]:
import pandas as pd
import numpy as np
import unicodedata
import re
import os
import csv
import sklearn.metrics as metrics

In [131]:
!pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.15.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.10.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.2)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.47)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)

In [132]:
tsv_file = open("/content/lcp_single_test.tsv")
read_tsv = csv.reader(tsv_file, delimiter="\t")

In [133]:
label = 1
count = 0
data_raw = pd.DataFrame(columns = range(5))
for row in read_tsv:
  if label == 1:
    data_raw.columns = row
    label = 0
  else:
    data_raw.loc[count] = [row[0], row[1], row[2], row[3], row[4]]
    count += 1

In [134]:
data_raw.head(10)

                               id corpus  ...     token           complexity
0  3K8CQCU3KE19US5SN890DFPK3SANWR  bible  ...      hand                  0.0
1  3Q2T3FD0ON86LCI41NJYV3PN0BW3MV  bible  ...      hand  0.19736842105263158
2  3ULIZ0H1VA5C32JJMKOTQ8Z4GUS51B  bible  ...      hand                  0.2
3  3BFF0DJK8XCEIOT30ZLBPPSRMZQTSD  bible  ...      hand   0.2678571428571429
4  3QREJ3J433XSBS8QMHAICCR0BQ1LKR  bible  ...  entrance                  0.0
5  30F94FBDNRKF12C1PDZGZ0IRI9XTB1  bible  ...      cost                 0.25
6  3JHB4BPSFK9JLT5CAPRP3PCEA2CQ9R  bible  ...     armor  0.02777777777777779
7  3Y40HMYLL1I1EIURUEH8TTVLKQ9XUM  bible  ...     armor                  0.2
8  30Y6N4AHYPWV0KXTZKLRUB59XBPRDA  bible  ...     armor   0.2222222222222222
9  38O9DZ0A62NFBR1TA7YCNXN94XN26F  bible  ...     armor   0.3194444444444444

[10 rows x 5 columns]

In [135]:
data = pd.DataFrame(columns=['text', 'complexity'])
count = 0
for i in range(0, data_raw.shape[0]):
  data.loc[count] = [data_raw['sentence'][count].lower() + ' [SEP] ' + data_raw['token'][count].lower(), \
                    data_raw['complexity'][count]]
  count += 1

In [138]:
data['text'][0]

'but he, beckoning to them with his hand to be silent, declared to them how the lord had brought him out of the prison. [SEP] hand'

In [139]:
from transformers import BertTokenizer
tokenizer = BertTokenizer.from_pretrained('bert-large-uncased')

In [ ]:
# Preprocess, tokenize and vectorize texts and labels
def vectorize_text(s, max_length):

    # Unicode normalization
    s = s.strip().lower()
    s = ''.join(c for c in unicodedata.normalize('NFD', s) if unicodedata.category(c) != 'Mn')

    # Remove undesired characters
    s = re.sub(r'([.¿?()\'",;:$€])', r' \1 ', s)
    s = re.sub(r"[^a-zA-Záéíóú.,!?;:()$€]+", r" ", s)

    # Text to tensor
    input_ids = tokenizer.encode(
      s,
      add_special_tokens=True,
      max_length=max_length,
      padding='longest', 
      truncation=True,
      return_tensors='np'
    )
    return input_ids[0]

In [141]:
data['text_vec'] = data.apply(lambda r: vectorize_text(r['text'], 512), axis=1)

In [142]:
data

                                                  text  ...                                           text_vec
0    but he, beckoning to them with his hand to be ...  ...  [101, 2021, 2002, 1010, 10272, 13369, 2000, 20...
1    if i forget you, jerusalem, let my right hand ...  ...  [101, 2065, 1045, 5293, 2017, 1010, 6744, 1010...
2    the ten sons of haman the son of hammedatha, t...  ...  [101, 1996, 2702, 4124, 1997, 10654, 2319, 199...
3    let your hand be lifted up above your adversar...  ...  [101, 2292, 2115, 2192, 2022, 4196, 2039, 2682...
4    abimelech chased him, and he fled before him, ...  ...  [101, 11113, 14428, 2571, 2818, 13303, 2032, 1...
..                                                 ...  ...                                                ...
882  the report by mr philippe busquin, on behalf o...  ...  [101, 1996, 3189, 2011, 2720, 11169, 3902, 125...
883  section v - court of auditors (sec(2002) 405 -...  ...  [101, 2930, 1058, 2457, 1997, 20964, 2015, 100...
884  - mr president, on 1 june, on the basis of inf...  ...  [101, 2720, 2343, 1010, 2006, 2238, 1010, 2006...
885  i would like to extend a warm welcome to this ...  ...  [101, 1045, 2052, 2066, 2000, 7949, 1037, 4010...
886  amongst the associations that contacted me was...  ...  [101, 5921, 1996, 8924, 2008, 11925, 2033, 200...

[887 rows x 3 columns]

In [143]:
# Separar los conjuntos de datos
data = data.sample(frac=1)
train_portion = 0.9
split_point = int(train_portion*len(data))
train_data, test_data =  data[:split_point], data[split_point:] 
print(len(train_data), 'train, ', len(test_data), 'test')

798 train,  89 test

In [144]:
#Create dataset en pytorch
from torch.utils.data import Dataset, DataLoader
import torch

class OffendEs(Dataset):
    def __init__(self, dataframe):
        self.len = len(dataframe)
        self.data = dataframe
        
    def __getitem__(self, index):
        input_ids = torch.tensor(self.data.text_vec.iloc[index]).cpu()
        attention_mask = torch.ones([input_ids.size(0)]).cpu()
        targets = self.data.complexity.iloc[index]
        return {
            'input_ids': input_ids,
            'attention_mask': attention_mask,
            'targets': targets
         }
            
    def __len__(self):
        return self.len

In [145]:
train_set, test_set = OffendEs(train_data), OffendEs(test_data)

In [148]:
train_set.data

                                                  text  ...                                           text_vec
586  when these issues are being discussed, parliam...  ...  [101, 2043, 2122, 3314, 2024, 2108, 6936, 1010...
300  their phenotypic features are very similar to ...  ...  [101, 2037, 6887, 16515, 23186, 2838, 2024, 22...
500  the cause of goiter appears to be an impairmen...  ...  [101, 1996, 3426, 1997, 2175, 21646, 3544, 200...
54   these are those who went over the jordan in th...  ...  [101, 2122, 2024, 2216, 2040, 2253, 2058, 1996...
540  many of these dimorphisms affect somatic cells...  ...  [101, 2116, 1997, 2122, 11737, 2953, 21850, 19...
..                                                 ...  ...                                                ...
656  the next item is the report by iles braghetto,...  ...  [101, 1996, 2279, 8875, 2003, 1996, 3189, 2011...
617  - (pl) madam president, commissioner, with thi...  ...  [101, 1006, 20228, 1007, 21658, 2343, 1010, 58...
196  after him, nehemiah the son of azbuk, the rule...  ...  [101, 2044, 2032, 1010, 11265, 29122, 12215, 1...
445  we observe sam68 staining in the brain, heart,...  ...  [101, 2057, 11949, 3520, 21101, 2075, 1999, 19...
884  - mr president, on 1 june, on the basis of inf...  ...  [101, 2720, 2343, 1010, 2006, 2238, 1010, 2006...

[798 rows x 3 columns]

In [147]:
train_set

In [ ]:
len(train_set)
#len(test_set)

798

In [ ]:
def collate_batch(batch):
    """ Optimize memory by setting all vectors in batch to a length equal to max
        length found
    """
    
    def pad_sequence(in_tensor, max_size):
        """ Fill tensor with zeros up to max_size
        """
        out_tensor = np.zeros(max_size)
        out_tensor[:in_tensor.size(0)] = in_tensor.numpy()
        return out_tensor
    
    batch_inputs = []
    batch_attention_masks = []
    batch_targets = []

    max_size = max([ex['input_ids'].size(0) for ex in batch])
    for item in batch:
        batch_inputs.append(pad_sequence(item['input_ids'], max_size))
        batch_attention_masks.append(pad_sequence(item['attention_mask'], max_size))
        batch_targets.append(item['targets'])
    return {
        "input_ids": torch.tensor(batch_inputs, dtype=torch.long),
        "attention_mask": torch.tensor(batch_attention_masks, dtype=torch.long),
        "targets": torch.tensor(batch_targets, dtype=torch.long)
    }